img{
    max-width: 100%;
}
.gallery{
    background-color: #dea262;
    padding: 80px 0;
    background-color: cover;
}
.gallery img{
    background-color: #ffffff;
    padding: 15px;
    width: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#gallery-modal .modal-img{
    width: 80%;
}